body {
  margin: 0;
  font-family: "Concert One", cursive;
  background: linear-gradient(
    to right,
    #e2b8f7,
    #d4bafa,
    #c7bcfb,
    #b9befb,
    #acbff9
  );
}

html {
  font-size: 10px;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0 1rem;
}

.main p {
  color: #fff;
  font-size: 4rem;
}

.main button {
  padding: 2rem 3rem;
  width: 20rem;
  outline: none;
  border-radius: 15px;
  font-family: "Concert One", cursive;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #c061ef;
  background: linear-gradient(#08c7fe 0%, #04d7f2 71%, #02ffd0 100%);
  cursor: pointer;
}

.modal-body .party {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.girl svg {
  height: 300px;
}

.balloon {
  position: absolute;
  top: -0.25rem;
  width: 72px;
  height: 90px;
  border-radius: 50%;
  background-color: #f76a8c;
  animation: flyUp 6s linear infinite;
}

.balloon::after {
  content: "▲";
  position: absolute;
  font-size: 12px;
  width: 12px;
  left: 50%;
  color: inherit;
  bottom: -10px;
  transform: translate(-50%, 0);
  color: #f76a8c;
}

.b1 {
  left: 80px;
}

.b2 {
  top: 70px;
  left: 200px;
}

.b3 {
  right: 80px;
}

.b4 {
  top: 70px;
  right: 200px;
}

/* Banner Styles */

.banner {
  height: 35px;
  color: #12344d;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.banner .content {
  flex: 1;
}

.banner.success {
  border: 1px solid #b4e5da;
  background-color: #e0f5f1;
}

.banner.info {
  border: 1px solid #bbdcfe;
  background-color: #e6f2fe;
}

.banner.warning {
  border: 1px solid #fddbb5;
  background-color: #fef1e1;
}

.banner.error {
  border: 1px solid #ffd0d6;
  background-color: #ffecf0;
}

.banner .close {
  cursor: pointer;
}

.banner .close img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  vertical-align: bottom;
}

.icon img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  vertical-align: bottom;
}

@keyframes flyUp {
  0% {
    transform: translateY(90vh);
  }

  100% {
    transform: translateY(-90vh);
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .sideModal {
    width: 30rem;
  }

  .modal-header h1 {
    font-size: 3.5rem;
  }
  .modal-header .close i {
    font-size: 3rem;
  }
}
